body{
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
 background: #FFFFFF;
}

p{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: -0.55px;
  color: #222121;
}

img{
  display: block;
  object-fit:cover;
}

@font-face {
    font-family: 'Open Sauce Two';
    src: url('fonts/OpenSauceTwo-Regular.eot');
    src: url('fonts/OpenSauceTwo-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSauceTwo-Regular.woff2') format('woff2'),
        url('fonts/OpenSauceTwo-Regular.woff') format('woff'),
        url('fonts/OpenSauceTwo-Regular.ttf') format('truetype'),
        url('fonts/OpenSauceTwo-Regular.svg#OpenSauceTwo-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

button{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerdiv{
  height: 98px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.header{
  width: 96%;
  height: 49.24px;
  margin-top: 24px;
  margin-left: 2%;
  margin-right: 2%;
}

.header table{
  height: 100%;
  width: 100%;

}
 .header td{
   text-align: right;
   width: 9%;
 }
 .header th{
   text-align: left;
 }
 .header a{
   font-family: 'Open Sauce Two';
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: -0.5px;
   color: #222121;
   text-decoration: none;
 }
 .header a:hover{
   color: #027A26;
 }
.header .active{
  color: #027A26;
  font-weight: bold;
}

.slider{
  width: 100vw;
  height: 678px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500vw;
  height: 678px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100vw;
  height: 678px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100vw;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #FFFFFF;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 638px;
}

.navigation-auto div{
  border: 2px solid #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #FFFFFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #FFFFFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #FFFFFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #FFFFFF;
}

.content1{
  width: 60%;
  margin:0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

h2{
  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.8px;
  color: #222121;
  cursor: default;
}

.content1 p{
  font-family: 'Open Sauce Two';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.45px;
  color: #222121;
  margin-top: -5px;
}

.content1 .button{
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  color: #027A26;
  border: none;
  background: none;
  margin:0 auto;
  margin-top: 40px;
}

.projects{
  height: auto;
  background: #F5F6F5;
}

.projects h2{
  padding-top: 80px;
}

.underline{
  height: 5px;
  width: 6%;
  background: #027A26;
  margin:0 auto;
  margin-top: 24px;
}

.projectslide{
  width: 85%;
  height: 747px;
  margin:0 auto;
  margin-top: 90px;
  margin-bottom: 115px;
}
.projectslide .left{
  float: left;
  width: 50%;
}
.projectslide .right{
  float: left;
  width: 50%;
}

 .projectslide .left button{
  border: none;
  outline: none;
  background: none;
  margin-left: 86%;
  font-family: 'Open Sauce Two';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222121;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.projectslide a{
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 41.6px;
  -webkit-text-stroke-width: 4.68px;
  -webkit-text-stroke-color: #222121;
  line-height: 49px;
  letter-spacing: 3.46667px;
  text-transform: uppercase;
  color: #222121;
  cursor: default;
}

.projectslide u{
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 31.2px;
  -webkit-text-stroke-width: 3.12px;
  -webkit-text-stroke-color: #2CC84D;
  line-height: 37px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: #2CC84D;
  text-decoration: none;
  margin-top: 8px;
  cursor: default;
}
.projectslide p{
  margin-top: 40px;
}

.badge{
  height: 44px;
  width: 155px;
  margin-top: 32px;
  background: rgba(2, 122, 38, 0.2);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .badge u1{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #027A26;
  text-decoration: none;
  cursor: default;
}

.vproject{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  color: #027A26;
  border: none;
  outline: none;
  background: none;
  margin-top: 136px;
}
.dot{
  background: rgba(124, 124, 124, 0.574);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.dot-selected{
  background: #027A26;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(2, 122, 38, 0.25);

}


.buttonproject{
  height: 48px;
  width: 15%;
  background: #027A26;
  font-family: 'Open Sauce Two';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.45px;
  color: #FFFFFF;
  margin:0 auto;
  border: none;
}

.tridiv{
  margin-top: 80px;
}

.tridiv .subdiv{
  margin-left: 1%;
  width: 32%;
  height: 300px;
  float: left;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tridiv p{
  margin-left: 2%;
  width: 30.6%;
  height: 160px;
  float: left;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.45px;
  color: #222121;
}

.tridiv .subdiv button{
  position: absolute;
  font-family: Noto Serif KR;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.6px;
  color: #222121;
  background: #FFFFFF;
  height: 67px;
  width: 17.6%;
  outline: none;
  border: none;
  margin-top: 117px;
  display: block;
  margin-left: 6%;
  cursor: default;

}

.green{
  margin-top: 570px;
  height: 240px;
  background: #027A26;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green table{
  width: 80%;
}

.green th{
  font-family: Noto Serif KR;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #FFFFFF;
  float: left;
  cursor: default;
}

.green td{
  float: right;
  cursor: default;
}

.green button{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 31px;
  text-align: right;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: none;
  margin-top: 12px;
}

.footer{
  height: auto;
  background: #F5F6F5;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer table{
  width: 80%;
}

.footer th{
  float: left;
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #222121;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222121;
  cursor: default;
}

.footer td{
  width: 20%;
}

.footer t{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #222121;
  text-decoration: none;
  cursor: default;
}

.footer a1{
  font-family: Baumans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.33333px;
  text-transform: uppercase;
  color: #222121;
  vertical-align: top;
  cursor: default;
}

.footer a{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.45px;
  color: #222121;
  text-decoration: none;
}

.footer p{
  font-family: Open Sauce Two;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.45px;
  color: #222121;
  margin-top: 70px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.first_image
{
  height:658px;
  z-index: 3;
  position: absolute;
  opacity: 1.0;
  transition-duration: 4s;
}

.second_image
{
  height:561px;
  z-index: 2;
  position: absolute;
  margin-left:8%;
  margin-top:49px;
  opacity: 0.8;
  transition-duration: 4s;
}

.third_image
{
  height:467px;
  z-index: 1;
  position: absolute;
  margin-left:16%;
  margin-top:96px;
  opacity: 0.7;
  transition-duration: 4s;
}

.move
{
  opacity: 0.5;
}
